* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/night.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
  transition: all 0.7s ease-in-out;
}

h1:hover {
  transition: all 0.7s ease-in-out;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

h2 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header h1{
  padding-left: 20px;
}

.header ul{
  padding-right: 20px;
}

.tabs {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.tabs li {
  margin-left: 30px;
  padding: 10px;
}

.tabs li a {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 3px;
  position: relative;
}

.tabs li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.tabs li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.about {
  width: 380px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 50px 6px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.about h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.about-desc {
  width: 800px;
  height: 400px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-desc p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: white;
}

@media screen and (max-width: 961px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .tabs {
    margin-top: 10px;
  }

  .about {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 50px 6px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  
  .about-desc {
    width: 500px;
    height: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
}
